body{
background:#fff;
margin:0px;
padding:0px;
position: absolute;
}

container {
    background-color:blue;
    width:600px;
    margin-top:20px;
    margin-right:50px;
}


header{
    background:#f1f1f1;
    height:200px;
}
banner{
    font-size:14px;
    color:#000;
}
contact{
    font-size:16px;
    color:#fff;
    padding:10px;
}